body {
	background: lemonchiffon;
}

	!DOCTYPE html>
<head>
  <link href="/normalize.css" rel="stylesheet">
  <style>
    header {
      text-align: center;
      background: url(' https://lh3.google.com/u/0/d/0B7QgruXejP7WWGRaOVVSa0NvSmc=w1919-h896-iv1');
      background-size: cover;
  ;
    }
    a {
      color: palegreen;
      font-size: 20
    }
    h1 {
      font-size: 65px;
      font-family: Baskerville;
    }
    h2{
    font-family: baskerville;
    }
    body{
      -webkit-text-stroke-width: 0px;
      -webkit-text-stroke-color: darkslateblue; 
      background: papayawhip;
      background size: cover;
    color: black;
	text-align: left; 

    font-family: arial; 
    }
    #Melissa{
        color: palegreen;
      
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid lightgreen;
      border-radius: 20px;
    }
    ul {
      padding: 15px;
      background: rgba(25,5,0,0.6);
    }
    li {
      display: inline;
      padding: 50px 10px 0px 10px;
    }
    article {
      max-width: 600px;
      padding: 0px;
      margin: 0 auto;
    }
    
    @media (max-width: 500px) {
      h1 {
        font-size: 50px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
      
  </style>
</head>